<div class="gf container  mt-3">
	<div class="main-page">
		<h5 class="mb-4"><%= @group.name %> >> グループ編集</h5>
		<h3>グループ編集</h3>
			<%= form_for(@group) do |f| %>
				<%= f.label :グループ名 %><br />
				<%= f.text_field :name %><br />
				<%= f.label :メモ %><br />
				<%= f.text_area :caption %><br />
				<%= f.submit "更新",class:'btn btn-sm btn-warning text-muted mt-2' %>
			<% end %>
		</div>
</div>