<div class="container">
    <div class="row">
        <h4>マイグループ</h4>
        <table class="table table-bordered">
            <tr>
                <th>グループ名</th>
                <th>メモ</th>
                <th>グループ人数</th>
            </tr>
            <% @groups.each do |group| %>
            <tr>
                <td>
                    <%= link_to group_path(group.id) do %>
                      <%= group.name %>
                    <% end %>
                </td>
                <td>
                    <%= group.caption %>
                </td>
                <td>
                    <%= Belonging.where(group_id: group.id).count %>
                </td>
                <% end %>
            </tr>
        </table>
        <%= link_to "グループを作成する", new_group_path, class:'btn btn-md btn-success' %>
    </div>
</div>