 <h4>メンバーリスト</h4>
 <table class="table table-bordered">
 	<tr>
 		<th>ユーザ名</th>
 		<th>電話番号</th>
 		<th>メールアドレス</th>
	  <th>アカウントID</th>
 		<th>避難計画数</th>
 	</tr>
	 		 <% @group_users.each do |group_user| %>
				<% if Belonging.where(user_id: group_user.id, activation: true).exists? %>
					<tr>
						<td>
							<%= attachment_image_tag group_user.profile_image, :profile_image, format:'png', class:'profile-img rounded-circle pull-left my-4', fallback:'no-image.png' %>
							<%= group_user.name %>
						</td>
						<td>
							<%= group_user.phone_number %>
						</td>
						<td>
							<%= group_user.email %>
						</td>
						<td>
							<%=  group_user.account_id %>
						</td>
						<td>
							<%= link_to plan_path(group_user.id) do %>
								<%= group_user.plans.count %>
							<% end %>
						</td>
					</tr>
				 <% end %>
	 		<% end %>
 </table>
