<div class="container">
  <%= search_form_for @search do |f| %>
    <h3>友達検索</h3>
    <%= f.label :name_cont, "名前" %><br/>
    <%= f.text_field :name_cont %><br/>
    <%= f.label :email_eq, "メールアドレス" %><br />
    <%= f.email_field :email_eq %><br />
    <%= f.label :account_id_eq, "アカウントID" %><br />
    <%= f.number_field :account_id_eq %><br />
    <div>
      <%= f.submit '検索', class:'btn btn-sm btn-secondary mt-3 mr-3' %>
    </div>
  <% end %>
  <div class="mt-3">
    <%= paginate @results %>
    <%= page_entries_info @results %>
  </div>
  <table class="table table-bordered">
      <tr>
          <th>ユーザー名</th>
          <th>マイグループ数</th>
          <th>計画数</th>
          <th></th>
      </tr>
        <% @results.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user.id) do %>
                <% if user.id == current_user.id %>
                  <i class="fas fa-user-check"></i>
                <% end %>
                  <%= user.name %>
              <% end %>
            </td>
            <td>
              <% groups = user.belongings.where(activation: true) %>
                <%= groups.count %>
            </td>
            <td>
              <%= link_to plan_path(user.id) do %>
                <%= user.plans.count %>
              <% end %>
            </td>
            <td>
              <% if user.id == current_user.id %>
              <% else %>
                <%= form_for @belonging, url:'#'  do |f| %>
                  <%= f.select :group_id, current_user.groups.map { |group| [group.name, group.id] }, { prompt: 'グループを選択して招待' }, { class:'group', id: user.id } %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
  </table>
</div>

<script>
  $(document).ready(function() {
    // groupクラスの変更を検知する
    $('.group').change(function() {
      group_id = $(this).has('option:selected').val()
      $.ajax({
        // 送信形式にget設定
        type: "POST",
        // getしたいurl
        url: "/belongings",
        // パラメーターにuser_idとgroup_idを追加して、コントローラーへ渡す
        data: { 
          user_id: $(this).attr('id'), 
          group_id: group_id,
           },
        datatype: "json"
        })
       .done(function(data) {
         window.location =  '/users';  
         })
       .fail(function() {
         alert('招待に失敗しました')
         });
    });
  });
</script>