<h1>ユーザー一覧</h1>
<table class="table table-bordered">
    <tr>
        <th>ユーザー名</th>
        <th>所属グループ数</th>
        <th>計画数</th>
        <th></th>
    </tr>
    <% @users1.each do |user| %>
    <tr>
        <td>
            <%= link_to user_path(user.id) do %>
            <%= user.name %>
            <% end %>
        </td>
        <td>
            <% groups = AddUserToGroup.where(user_id: user.id) %>
            <%= link_to groups_path do %>
            <%= groups.count %>
            <% end %>
        </td>
        <td>
            <%= link_to plans_path do %>
            <%= user.plans.count %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>
<%= render 'layouts/g-form', group: @group %>

