<h4>ユーザ検索</h4>
  <%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "ユーザー名" %><br/>
    <%= f.text_field :name_cont %><br/>
    <%= f.label :email_eq, "メールアドレス" %><br />
    <%= f.email_field :email_eq %><br />
    <%= f.label :account_id_eq, "アカウントID" %><br />
    <%= f.number_field :account_id_eq %><br />
    <div>
      <%= f.submit '検索', class:'btn btn-sm btn-secondary mt-3' %>
    </div>
  <% end %>

<table class="table table-bordered">
    <tr>
        <th>ユーザー名</th>
        <th>マイグループ数</th>
        <th>計画数</th>
    </tr>
      <% @results.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% groups = Belonging.where(user_id: user.id) %>
              <%= groups.count %>
          </td>
          <td>
            <%= link_to plans_path do %>
              <%= user.plans.count %>
            <% end %>
          </td>
        </tr>
  <% end %>
</table>