<h1>ユーザー一覧</h1>
<table class="table table-bordered">
	<tr>
		<th>ユーザー名</th>
		<th>計画数</th>
		<th>所属グループ数</th>
	</tr>
	<% @users1.each do |users| %>
	<tr>
		<td>
			<%= link_to user_path(users.id) do %>
			  <%= users.name %>
			<% end %>
	    </td>
		<td>
			<%= link_to plans_path do %>
			  <%= users.plans.count %>
			<% end %>
		</td>
		<td>
			<%= link_to groups_path do %>
			  <%= Group.where(user_id: users.id).count %>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>u