<h4>ユーザ検索</h4>
  <%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "ユーザー名" %><br/>
    <%= f.text_field :name_cont %><br/>
    <%= f.label :email_eq, "メールアドレス" %><br />
    <%= f.email_field :email_eq %><br />
    <%= f.label :account_id_eq, "アカウントID" %><br />
    <%= f.number_field :account_id_eq %><br />
    <div>
      <%= f.submit '検索', class:'btn btn-sm btn-secondary mt-3 mr-3' %>
      <%= link_to "グループを作成する", new_group_path, class:'btn btn-sm btn-success mt-3' %>
    </div>
  <% end %>

<table class="table table-bordered">
    <tr>
        <th>ユーザー名</th>
        <th>マイグループ数</th>
        <th>計画数</th>
        <th></th>
    </tr>
      <% @results.each do |user| %>
        <tr>
          <td>
            <%= link_to user_path(user.id) do %>
              <%= user.name %>
            <% end %>
          </td>
          <td>
            <% groups = Belonging.where(user_id: user.id) %>
              <%= groups.count %>
          </td>
          <td>
            <%= link_to plans_path do %>
              <%= user.plans.count %>
            <% end %>
          </td>
          <td>
            <% if user.id == current_user.id %>
            <% else %>
              <%= form_for @group do |f| %>
                <%= f.select :name, current_user.groups.map { |group| [group.name, group.id] } %>
                <%= f.submit "グループに招待" %>
              <% end %>
            <% end %>
          </td>
        </tr>
  <% end %>
</table>