<h4>避難計画詳細</h4>
<table class="table table-bordered">
	<tr>
		<th>日付</th>
		<th>出発地</th>
		<th>避難先</th>
		<th>距離(M)</th>
		<th>時間(分)</th>
		<th></th>
	</tr>
  <tr>
		<td>
			<% if @plan.present? %>
				<%= @plan.created_at.strftime('%Y/%m/%d')  %>
			<% end %>
		</td>
		<td><%= @plan.departure %></td>
		<td><%= @plan.shelter %></td>
		<td><%= @plan.distance %></td>
		<td><%= @plan.duration/60 %></td>
		<td>
			<%= link_to "削除", plan_path(@plan.id), method: :delete, class:'btn btn-sm btn-danger', method: :delete %>
		</td>
	</tr>  
</table>

<div class="comments">	
  <%= form_for @comment, url: '#', html: { class: 'form js-form' } do |f| %>
    <%= f.text_area :content, { class:'form_text_area js-form_text-area comment', id: current_user.id , style:'width: 100%; height: 100px;' }  %>
    <%= f.submit "コメントする", class:'form_submit js-submit btn btn-sm btn-primary' %>
  <% end %>
	<% if @comments.present? %>
		<ul class="comments">
			<%= render @comments %>
		</ul>
	<% end %>
</div>
       
<script>
	$(document).ready(function() {
		function buildHTML(comment) {
			var html = $('<li class="comment">').append(comment.content);
			return html;
		}
		$('.js-form').on('submit', function(e){
			e.preventDefault();
			var textArea = $('.js-form_text-area');
			var comment = textArea.val();
			$.ajax({
				type: 'POST',
				url: "<%= plan_comments_path(@plan.id) %>",
				data: {
					comment: {
						content: comment,
						user_id: <%= current_user.id %>,
						plan_id: <%= @plan.id %>
					}
				},
				dataType: 'json'
			})
			.done(function(data){
				var html = buildHTML(data);
				$('.comment').append(html);
				textArea.val('');
			})
			.fail(function() {
				alert('コメントに失敗しました')
			});
		});
	});
</script>	
