<div class="container">
	<h3>避難計画リスト</h3>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>日付</th>
				<th>出発地</th>
				<th>避難先</th>
				<th>距離(M)</th>
				<th>時間(分)</th>
				<th>コメント数</th>
				<th></th>
			</tr>
		</thead>
		<% @plans.each do |plan| %>
			<tbody>
				<tr>
					<td><%= plan.created_at.strftime('%Y/%m/%d')  %></td>
					<td><%= plan.departure %></td>
					<td><%= plan.shelter %></td>
					<td><%= plan.distance %></td>
					<td><%= plan.duration/60 %></td>
					<td>
						<%= link_to "編集", edit_plan_path(plan.id), class:'btn btn-sm btn-success' %>
						<%= link_to "削除", plan_path(plan.id), class:'btn btn-sm btn-danger', method: :delete %>
					</td>
				</tr> 
			</tbody>
		<% end %>
	</table>
</div>
