    <div class="navbar-brand ">
        <%= link_to root_path do %>
          <%= image_tag "Noah-logo.png", class:'shelter' %>
        <% end %>
        <% if user_signed_in? %>
          <p><i id="user-icon" class="welcome fa fa-user"></i></p>
          <p class="welcome text-right"><%= link_to current_user.name, user_path(current_user.id) %></p>
          <p><i id="guard-icon" class="make-plan fas fa-user-shield"></i></p>
          <p class="make-plan text-right"><%= link_to "避難計画を登録する", new_plan_path %></p>
        <% end %>
    </div>
    <div class="navbar justify-content-end clearfix">
        <% if user_signed_in? %>
        <ul class="nav navbar-expand navbar-right">
            <li class="">
                <%= link_to "   ユーザ 検索", users_path, class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "    マイグループ", groups_path, class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "   避難計画一覧",  plan_path(current_user.id), class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "   ログアウト", destroy_user_session_path, class:"text-dark", method: :delete %>
            </li>
        </ul>
        <% else %>
        <ul class="nav navbar-expand navbar-right">
            <li class="">
                <%= link_to "   About", root_path, class:'mr-5 text-dark'  %>
            </li>
            <li class="">
                <%= link_to "   新規登録", new_user_registration_path, class:'mr-5 text-dark'  %>
            </li>
            <li class="">
                <%= link_to "   ログイン", new_user_session_path, class:'text-dark' %>
            </li>
            <% end %>
        </ul>
    </div>