    <div class="navbar-brand ">
        <%= link_to root_path do %>
          <%= image_tag "Noah-logo-latest.png", class:'logo shelter' %>
        <% end %>
    </div>
        <% if @invited_group.present? && controller.action_name != "confirm" %>
            <p class="news">
                <%= link_to group_confirm_path do %>
                    <%= @invited_group.count %> つのグループに招待されています！
                <% end %>
            </p>
        <% end %>
        <% if user_signed_in? %>
          <%# <p><i id="guard-icon" class="make-plan fas fa-user-shield"></i></p>
          <p class="make-plan text-right"><%= link_to "避難計画を作る", new_plan_path %>
        <% end %>
    <div class="navbar justify-content-end clearfix">
        <% if user_signed_in? %>
        <ul class="nav navbar-expand">
            <li class="">
                <%= link_to "   Noahとは？", root_path, class:'mx-5' %>
            </li>      
            <li class="">
                <%= link_to "    あなたのグループ", groups_path, class:'mx-5' %>
            </li>
            <li class="">
                <%= link_to "   あなたの避難計画",  plan_path(current_user.id), class:'mx-5' %>
            </li>
            <li class="">
                <%= link_to "   ログアウト", destroy_user_session_path, method: :delete, class:'mx-5' %>
            </li>
        </ul>
        <% else %>
        <ul class="nav navbar-expand">
            <li class="">
                <%= link_to "   Noahとは？", root_path, class:'mx-5' %>
            </li>        
            <li class="">
                <%= link_to "   新規登録", new_user_registration_path, class:'mx-5' %>
            </li>
            <li class="">
                <%= link_to "   ログイン", new_user_session_path, class:'mx-5' %>
            </li>
            <% end %>
        </ul>
    </div>
     
        <%# <div class="current_user_link">
          <%= attachment_image_tag current_user, :profile_image, format: 'png', class: 'rounded-circle  profile-image', fallback: 'no-image.png' %>          
          <%# <%= link_to current_user.name, user_path(current_user.id) %>
        <%# </div>  %>

    