    <div class="navbar-brand ">
        <%= link_to root_path do %>
          <%= image_tag "Noah-logo-latest.png", class:'logo shelter' %>
        <% end %>
        <% if user_signed_in? %>
            <div id="current_user_info">
                <%= link_to  user_path(current_user.id), id:     'current_user-link' do %>
                        <%= attachment_image_tag current_user, :profile_image,  format: 'png', class: 'rounded-circle  current_user_image mb-3', fallback: 'no-image.png' %>
                        <p id="current_user_name"><%= current_user.name %>さん</p>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="navbar justify-content-end clearfix">
        <% if user_signed_in? %>
        <ul class="nav navbar-expand">
            <li class="">
                <%= link_to "   Noahとは？", root_path, class:'nav-link' %>
            </li>      
            <li class="">
                <%= link_to "    あなたのグループ", groups_path, class:'nav-link' %>
            </li>
            <li class="">
                <%= link_to "   あなたの避難計画",  plan_path(current_user.id), class:'nav-link' %>
            </li>
            <li class="">
                <%= link_to "   ログアウト", destroy_user_session_path, method: :delete, class:'nav-link' %>
            </li>
        </ul>
        <% else %>
        <ul class="nav navbar-expand">
            <li class="">
                <%= link_to "   Noahとは？", root_path, class:'nav-link' %>
            </li>        
            <li class="">
                <%= link_to "   新規登録", new_user_registration_path, class:'nav-link' %>
            </li>
            <li class="">
                <%= link_to "   ログイン", new_user_session_path, class:'nav-link' %>
            </li>
            <% end %>
        </ul>
    </div>

    