<!DOCTYPE html>
<html>

<head>
    <title>Noah</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>    
    <script href="jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/81cfb2a25f.js" crossorigin="anonymous"></script>
    <script src="http://maps.google.com/maps/api/js?libraries=places&region=JP&key=AIzaSyDD9qQbA86daM6MFm2Pgkm7h3wVHZ9QooA&language=ja"></script>    
</head>

<body>
    <div class="wrapper">
      <header class="mb-3">
        <% if @invited_group.present? && controller.action_name != "confirm" %>
            <div class="invited-info">
                <%= link_to group_confirm_path do %>
                    招待<%= @invited_group.count %>件
                <% end %>
            </div>
        <% end %>        
        <%= render 'layouts/header' %>
      </header>
    <% if user_signed_in? %>
        <div class="btn-container">
          <div class="btn-group">
            <%= link_to "避難計画を作る", new_plan_path, class: 'main-btn plan-btn' %>
            <%= link_to "グループを作る", new_group_path, class: 'main-btn group-btn' %>
            <%= link_to " 友達検索", users_path, class:'main-btn search-btn' %>
          </div>
        </div>
    <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
</body>
</html>