<!DOCTYPE html>
<html>

<head>
    <title>LayUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/81cfb2a25f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="navbar-brand ">
        <%= link_to homes_about_path do %>
          <%= image_tag "Noah-logo.png", class:'shelter' %>
        <% end %>
        <% if user_signed_in? %>
          <p class="welcome text-right">ようこそ、<%= link_to current_user.name, user_path(current_user.id) %>さん</p>
        <% end %>
    </div>
    <div class="navbar justify-content-end clearfix">
        <% if user_signed_in? %>
        <ul class="nav navbar-expand navbar-right">
            <li class="">
                <%= link_to "   ユーザ一覧", users_path, class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "   所属グループ", groups_path, class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "   避難計画一覧",  plans_path, class:'mr-5 text-dark' %>
            </li>
            <li class="">
                <%= link_to "   ログアウト", destroy_user_session_path, class:"text-dark", method: :delete %>
            </li>
        </ul>
        <% else %>
        <ul class="nav navbar-expand navbar-right">
            <li class="">
                <%= link_to "   About", homes_about_path, class:'mr-5 text-dark'  %>
            </li>
            <li class="">
                <%= link_to "   新規登録", new_user_registration_path, class:'mr-5 text-dark'  %>
            </li>
            <li class="">
                <%= link_to "   ログイン", new_user_session_path, class:'text-dark' %>
            </li>
            <% end %>
        </ul>
    </div>
  </header>
    <div class="container mt-5">
        <%= yield %>
    </div>
</body>

</html>